/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Background under the cv  */
body{
    margin: 0;
    background-color:black
}
/* Green part under Top-section  */
.container1{
    width: 595px;
    height: 845px;
    margin: auto;
    background-color:#CDD9C5;
}
/* Heading, name and info */
h1{
    color: #53483F;
    font-family: "EB Garamond";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.9px;
    margin-top: 0;
    text-transform:uppercase;
    margin-bottom: 11px;
}
.header-info{
    color: rgba(83, 72, 63, 0.88);
font-family: "EB Garamond";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 133.333% */
letter-spacing: 0.9px;
margin: 0;
padding-left: 7px;
}

/* Beige Header Top-section */
header{
    height: 133px;
    background-color: #EFEADD;
    padding-top: 18px;
    padding-left: 13px;
    position: relative;
    overflow: hidden;
}
/* Main Body text font */
.Noto{
    font-family: "Noto Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
}
/* Leaves formatting */
img{
    position: absolute;
    top: 0;
    right:0;
}
/* Space for column (formatting) */
.grid{
    width: 562px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding-top: 23px;
    padding-bottom: 30px;
    font-family: "Noto Sans", sans-serif;
}
/* Column sizing (BORDER TO BE REMOVED */
.column{
    width: 273px;
    height: 656px;
    border: 1px solid red;
}
/* Header for professional experience (ex1) */
.box-light{
    padding: 8px 12px 30px 12px; 
    color: #655E55;
}
/* Line separating titlebox from main info */
.box-light h3{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 85.714% */
    letter-spacing: 0.84px;
    border-bottom: 0.5px solid #BDC0B3;
    padding-bottom: 10px;
}
/* Laura hair and beauty title */
.box-light .ex1{
    font-size: 9px ;
    letter-spacing: 0.18px;
    line-height: 12px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 25px;
}
/* Spacing between job role and place of work */
.box-light div p{
    margin: 0;
}
/* Spacing and formatting of job role and length of work */
.box-light .ex2{
    font-size: 7px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
}
/* setting colour for background */
.coloured-column {
   background-color: rgba(239, 234, 221, 0.99);
}
/* setting colour for green background */
.dark-coloured-column{
    background-color: #99A195;;
}
/* Main info for box-light */
.ex3{
    color: #655E55;
    font-family: "Noto Sans";
    font-size: 9px;
    line-height: 12px; 
    padding-bottom:4.5px;
}
/* List formatting for all (hopefully) */
ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 8px 0 0 0;
    padding-inline-start: 11px;
    unicode-bidi: isolate;
}
/* Fixing spacing between bulletpoints */
li:not(:last-child) {
    margin-bottom: 10px;
}
/* Vescom/Mad science Title */
.box-light .ex4{
    font-size: 9px ;
    letter-spacing: 0.18px;
    line-height: 12px;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 0x;
}
/* Starting dark green columns */
.box-dark{
    padding: 8px 12px 0px 12px; 
    color: #EFEADD;
    background-color: #99A195;
}
/* Header for education */
.box-dark h3{
    border-bottom: 0.5px solid #BDC0B3;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 85.714% */
    letter-spacing: 0.84px;
}
/* two sided columns for education */
.flex-container {
    display: flex;
    justify-content:space-between;
    padding-left:8px;
    border-right:8px;
    padding-right:2px;
    margin: 0;
    padding-bottom:0;
}
/* subtitles for education */
.edu-titles{
    color: #EFEADD;
    font-family: "Noto Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px; /* 120% */
    letter-spacing: 0.2px;
    padding-bottom: 10px
}
/* gcse grades formatting */
.gcse-grades{
    color: #EFEADD;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 200% */
}
/* specifying spacing between lists*/
.gcse-grades li{
    margin:0;
    padding:0;
}
/* creating space between grades and subheading */
.gcse-grades ul{
    padding-top: 7px;
    margin:0;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

.a-level-list{
    color: #EFEADD;
    font-family: "Noto Sans";
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    padding-top: 3px;
    padding-left: 5px;
}