/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body{
    margin: 0;
    background-color:black
}

.container{
    width: 595px;
    height: 845px;
    margin: auto;
}

h1{
    color: #53483F;
    font-family: "EB Garamond";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.9px;
    margin-top: 0;
    text-transform:uppercase;
    margin-bottom: 11px;
}

h3{
    color: rgba(83, 72, 63, 0.88);
font-family: "EB Garamond";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 133.333% */
letter-spacing: 0.9px;
margin: 0;
padding-left: 7px
}

header{
    height: 133px;
    background-color: #EFEADD;
    padding-top: 18px;
    padding-left: 13px;
    position: relative;
    overflow: hidden;
}

.Noto{
    font-family: "Noto Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: cornflowerblue
}

img{
    position: absolute;
    top: 0;
    right:0
}